In [2]:
import pandas as pd

# สร้าง DataFrame ตัวอย่างที่มีข้อมูลในรูปแบบที่ไม่ถูกต้อง
data = {
    'date': ['2023-01-01', '01-02-2023', 'March 5, 2023', '2023/04/01', 'not a date'],
    'price': ['100', '200.5', '300$', '400', '500THB'],
    'quantity': ['10', '20', 'thirty', '40', '50']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
            date   price quantity
0     2023-01-01     100       10
1     01-02-2023   200.5       20
2  March 5, 2023    300$   thirty
3     2023/04/01     400       40
4     not a date  500THB       50

In [4]:
# 1. การแปลงข้อมูลวันที่ (Date)
# แปลงคอลัมน์ 'date' ให้เป็นรูปแบบวันที่
df['date'] = pd.to_datetime(df['date'], errors='coerce')
print("\nหลังจากแปลงข้อมูลวันที่ (Date):")
print(df)

หลังจากแปลงข้อมูลวันที่ (Date):
        date   price quantity
0 2023-01-01     100       10
1 2023-02-01   200.5       20
2 2023-03-05    300$   thirty
3 2023-04-01     400       40
4        NaT  500THB       50

In [6]:
# แปลงคอลัมน์ 'date' ให้เป็นรูปแบบวันที่โดยใช้หลายรูปแบบในการแปลง
def parse_date(date):
    for fmt in ('%Y-%m-%d', '%d-%m-%Y', '%B %d, %Y', '%Y/%m/%d'):
        try:
            return pd.to_datetime(date, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT  # Return NaT if no format matches

print("\nหลังจากแปลงข้อมูลวันที่ (Date) ใหม่:")
# Apply the parse_date function
df['date'] = df['date'].apply(parse_date)
print(df)

หลังจากแปลงข้อมูลวันที่ (Date) ใหม่:
        date   price quantity
0 2023-01-01     100       10
1 2023-02-01   200.5       20
2 2023-03-05    300$   thirty
3 2023-04-01     400       40
4        NaT  500THB       50

In [2]:
# 2. การแปลงข้อมูลตัวเลข (Numeric)
# ลบสัญลักษณ์ที่ไม่จำเป็นและแปลงข้อมูลเป็นตัวเลข
df['price'] = pd.to_numeric(df['price'].str.replace(r'[^\d.]', '', regex=True), errors='coerce')
print("\nหลังจากแปลงข้อมูลราคา (Price) ให้เป็นตัวเลข:")
print(df)

หลังจากแปลงข้อมูลราคา (Price) ให้เป็นตัวเลข:
            date  price quantity
0     2023-01-01  100.0       10
1     01-02-2023  200.5       20
2  March 5, 2023  300.0   thirty
3     2023/04/01  400.0       40
4     not a date  500.0       50

In [5]:
# 3. การแปลงข้อมูลข้อความเป็นตัวเลข (String to Numeric)
# แปลงข้อมูลคอลัมน์ 'quantity' เป็นตัวเลข โดยเปลี่ยนค่าที่ไม่ใช่ตัวเลขให้เป็น NaN
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')
print("\nหลังจากแปลงข้อมูลจำนวน (Quantity) ให้เป็นตัวเลข:")
print(df)

หลังจากแปลงข้อมูลจำนวน (Quantity) ให้เป็นตัวเลข:
            date   price  quantity
0     2023-01-01     100      10.0
1     01-02-2023   200.5      20.0
2  March 5, 2023    300$       NaN
3     2023/04/01     400      40.0
4     not a date  500THB      50.0

In [ ]:
# 4. การแปลงข้อมูลให้เป็นข้อความ (String)
# แปลงข้อมูลคอลัมน์ 'price' เป็นข้อความ (String) ในกรณีที่ต้องการเก็บในรูปแบบนี้
df['price'] = df['price'].astype(str)
print("\nหลังจากแปลงข้อมูลราคา (Price) ให้เป็นข้อความ:")
print(df)