In [1]:
import pandas as pd

# สร้าง DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing', 'Finance'],
    'Salary': [50000, 60000, 55000, 70000, 65000, 52000]
}

df = pd.DataFrame(data)
print(df)

      Name Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie    Finance   55000
3    David         IT   70000
4      Eva  Marketing   65000
5    Frank    Finance   52000

In [ ]:
# ตัวอย่าง 1: การหาผลรวมเงินเดือนของพนักงานในแต่ละแผนก

salary_sum_by_dept = df.groupby('Department')['Salary'].sum()
print(salary_sum_by_dept)

In [2]:
# ตัวอย่าง 2: การหาค่าเฉลี่ยเงินเดือนของพนักงานในแต่ละแผนก ในตัวอย่างนี้ เราใช้ mean() เพื่อหาค่าเฉลี่ยของเงินเดือนในแต่ละแผนก

salary_mean_by_dept = df.groupby('Department')['Salary'].mean()
print(salary_mean_by_dept)

Department
Finance      53500.0
HR           50000.0
IT           65000.0
Marketing    65000.0
Name: Salary, dtype: float64

In [ ]:
# ตัวอย่าง 3: การนับจำนวนพนักงานในแต่ละแผนก โดยใช้ functioncount()

employee_count_by_dept = df.groupby('Department')['Name'].count()
print(employee_count_by_dept)

In [ ]:
# ตัวอย่างที่ 4: การใช้งาน Grouping หลายคอลัมน์พร้อมกัน
# หากเราต้องการจัดกลุ่มโดยใช้หลายคอลัมน์ สามารถทำได้เช่นกัน เช่นตัวอย่าง Dataframe นี้
# ตัวอย่างการจัดกลุ่มหลายคอลัมน์
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing', 'Finance'],
    'Location': ['Bangkok', 'Bangkok', 'Chiang Mai', 'Chiang Mai', 'Bangkok', 'Bangkok'],
    'Salary': [50000, 60000, 55000, 70000, 65000, 52000]
}

df2 = pd.DataFrame(data2)

# จัดกลุ่มข้อมูลตามแผนกและสถานที่
salary_sum_by_dept_location = df2.groupby(['Department', 'Location'])['Salary'].sum()
print(salary_sum_by_dept_location)